<div class="opciones">
    <h3>¿Qué eres?</h3>
    <!-- <a class="btn btn-lg btn-black" value="Protectora" [routerLink]=['vistaadoptante']></a>
    <a class="btn btn-lg btn-black" value="Adoptante"> -->

</div>









<!-- <div class="container">
    <div class="title">
        <h2>HAZ LOGIN AQUÍ</h2>
        <p>Seas protectora o adoptante</p>
    </div>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)">
        <div>
            <p>Soy...</p>
            <select>
                <option value="PROTECTORA">Protectora</option>
                <option value="ADOPTANTE">Adoptante</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" name="email" formControlName="email">
            <p class="text-dark" *ngIf="formLogin.get('email').hasError('required') && formLogin.get('email').touched">
                Por favor, indíquenos el mail usado para registrarse.
            </p>
        </div>

        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control" name="password" formControlName="password">
            <p class="text-dark"
                *ngIf="formLogin.get('password').hasError('required') && formLogin.get('password').touched">
                Introduzca su password.
            </p>
            <p class="text-dark"
                *ngIf="formLogin.get('password').hasError('pattern') && formLogin.get('password').touched">
                La password debe contener como mínimo 8 caracteres, mayúsculas, símbolos y números.
            </p>
        </div>

        <input type="submit" value="Enviar" class="btn btn-block btn-dark" [disabled]="!formLogin.valid">
    </form>
</div> -->