<div class="container">
    <h2>Perfil</h2>
    <img src={{perfilAdoptante.fotos_casa}} class="img-fluid">
    <p><span>Nombre y apellidos:</span> {{perfilAdoptante.nombre}} {{perfilAdoptante.apellidos}}</p>
    <p><span>Dirección:</span></p>
    <p><span>Email:</span></p>
    <p><span>Teléfono:</span></p>
    <p><span>Localidad:</span></p>
    <p><span>Provincia:</span></p>
    <p><span>Tienes gato:</span></p>
    <p><span>Tienes espacio exterior:</span></p>
    <p><span>Cuántos metros tiene:</span>
    </p>
    <p><span>Tipo de vivienda:</span> </p>
    <p><span>Tipo de espacio exterior:</span>
    </p>

</div>