<div class="perfil" *ngIf="perfilAdoptante">
    <h2>Perfil de {{perfilAdoptante.nombre}}</h2>
    <img src={{perfilAdoptante.fotos_casa}} class="img-fluid">
    <p><span>Nombre y apellidos:</span> {{perfilAdoptante.nombre}} {{perfilAdoptante.apellidos}}</p>
    <p><span>Dirección:</span> {{perfilAdoptante.direccion}}</p>
    <p><span>Email:</span> {{perfilAdoptante.email}}</p>
    <p><span>Teléfono:</span> {{perfilAdoptante.telefono}}</p>
    <p><span>Localidad:</span> {{perfilAdoptante.localidad}}</p>
    <p><span>Provincia:</span> {{perfilAdoptante.provincia}}</p>
    <p><span>Tiene gato:</span> {{perfilAdoptante.tiene_gato}}</p>
    <p><span>Tipo de vivienda:</span> {{perfilAdoptante.tipo_vivienda}}</p>
    <p><span>Tiene espacio exterior:</span> {{perfilAdoptante.espacio_exterior}}</p>
    <p><span>Cuántos metros tiene:</span> {{perfilAdoptante.metros_exterior}}</p>
    <p><span>Tipo de espacio exterior:</span> {{perfilAdoptante.tipo_espacio_exterior}}</p>
    <button class="btn btn-dark" [routerLink]="['/vistaprotectora']">Volver</button>

</div>