<div class="mapa">

    <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="9.6">

        <agm-marker *ngFor="let coordenada of listadoCoords" [latitude]="coordenada.latitud"
            [longitude]="coordenada.longitud" [markerDraggable]="true" [markerClickable]="true"
            (markerClick)="onDbClick($event)">

            <agm-info-window>
                <p>{{coordenada.nombre}}</p>
                <p>{{coordenada.localidad}}</p>
            </agm-info-window>

        </agm-marker>


    </agm-map>
</div>