<div class="wrapper">
    <div class="container">
        <div class="title">
            <h2>REGÍSTRATE AQUÍ COMO ADOPTANTE</h2>
            <p>Así podrás solicitar la adopción de perros y las protectoras podrán ver tu perfil.</p>
        </div>

        <form [formGroup]="formRegistroAdoptante" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('nombre').hasError('required') && formRegistroAdoptante.get('nombre').touched">
                        Por favor, indíquenos su nombre.
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" name="apellidos" formControlName="apellidos">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('apellidos').hasError('required') && formRegistroAdoptante.get('apellidos').touched">
                        Por favor, indíquenos sus apellidos.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" class="form-control" name="direccion" formControlName="direccion">
                <p class="text-dark"
                    *ngIf="formRegistroAdoptante.get('direccion').hasError('required') && formRegistroAdoptante.get('direccion').touched">
                    Debe introducir una dirección.
                </p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Localidad</label>
                    <input type="text" class="form-control" name="localidad" formControlName="localidad">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('localidad').hasError('required') && formRegistroAdoptante.get('localidad').touched">
                        Introduzca su localidad.
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label>Provincia</label>
                    <select class="form-control" formControlName="provincia">
                        <option selected value="madrid">Madrid</option>
                    </select>
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('provincia').hasError('required') && formRegistroAdoptante.get('provincia').touched">
                        Por favor, indíquenos su provincia
                    </p>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Telefono</label>
                    <input type="text" class="form-control" name="telefono" formControlName="telefono">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('telefono').hasError('minlength') && formRegistroAdoptante.get('telefono').touched">
                        Introduzca un teléfono de 9 dígitos.
                    </p>
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('telefono').hasError('required') && formRegistroAdoptante.get('telefono').touched">
                        Introduzca un teléfono.
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" formControlName="email">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('email').hasError('required') && formRegistroAdoptante.get('email').touched">
                        Por favor, introduzca un email.
                    </p>
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('email').hasError('pattern') && formRegistroAdoptante.get('email').touched">
                        El email debe tener un formato correcto.
                    </p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>¿Tiene gato en casa?</label>
                    <select class="form-control" formControlName="tiene_gato">
                        <option value="" selected>Elige una opción</option>
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                    </select>
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('tiene_gato').hasError('required') && formRegistroAdoptante.get('tiene_gato').touched">
                        Este campo es requerido.
                    </p>
                </div>
                <div class="form-group col-md-6">
                    <label>Tipo de vivienda</label>
                    <select class="form-control" formControlName="tipo_vivienda">
                        <option value="" selected>Elige una opción</option>
                        <option value="piso">Piso</option>
                        <option value="casa_chalet">Casa/Chalet</option>
                    </select>
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('tipo_vivienda').hasError('required') && formRegistroAdoptante.get('tipo_vivienda').touched">
                        Este campo es requerido.
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label>¿Dispones de espacio exterior?</label>
                <div class="form-check">
                    <div>
                        <input class="form-check-input" type="radio" formControlName="espacio_exterior" value="si">
                        <label class="form-check-label">
                            SI
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" formControlName="espacio_exterior" value="no"
                            checked>
                        <label class="form-check-label">
                            NO
                        </label>
                    </div>
                    <p class="text-dark" *ngIf="formRegistroAdoptante.get('espacio').hasError('required')">
                        Este campo es requerido. POR QUÉ ESTO NO SALE
                    </p>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Metros cuadrados del espacio exterior</label>
                    <input type="number" class="form-control" name="medida_espacio_exterior"
                        formControlName="medida_espacio_exterior">
                </div>
                <div class="form-group col-md-6">
                    <label>Tipo de espacio exterior</label>
                    <select class="form-control" formControlName="tipo_espacio_exterior">
                        <option value="" selected>Elige una opción</option>
                        <option value="patio">Patio</option>
                        <option value="jardin">Jardin</option>
                    </select>


                </div>
                <div class="form-group col-md-8">
                    <label>Fotos de la casa</label>
                    <input type="url" class="form-control" name="fotos_casa" formControlName="fotos_casa">
                    <p class="text-dark"
                        *ngIf="formRegistroAdoptante.get('fotos_casa').hasError('required') && formRegistroAdoptante.get('fotos_casa').touched">
                        Introduzca una url donde podamos acceder a sus fotos.
                    </p>
                </div>

            </div>
            <button type="submit" class="btn btn-dark" [disabled]="!formRegistroAdoptante.valid">Enviar</button>
        </form>
    </div>
</div>