.wrapper{
    margin: 30px 0;
    
   
}
.title{
    text-align: center;
    margin: 50px 0;
}
h2{
    margin-bottom: 30px;
}
button:hover{
	cursor:pointer;
}
form p{
    font-size: small;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input[type=number]{
    -moz-appearance: textfield;
}