.navbar-light{
    background-color: lightgray;
    margin: auto;
}

.navbar-toggler{
    margin: 10px 50px;
}

a{
    font-family: var(--fuente_titulos);
    font-size: 1.3rem;
    margin-left: 50px;
}

.navbar-brand{
    padding: 0;
    margin-left: 50px;
}

.imagen{
    max-width: 40%;
}


.activa{
    font-weight: bold;
}




