<nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" [routerLink]="['home']">
        <div class="imagen">
            <img src="assets/images/logo_proyecto.png">
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbarInterno">
            <a class="nav-link" [routerLink]="['home']" routerLinkActive="activa">Home</a>
            <a class="nav-link" [routerLink]="['blog']" routerLinkActive="activa">Blog</a>
            <a class="nav-link" [routerLink]="['animales']" routerLinkActive="activa">Nuestros Animales</a>
            <a class="nav-link" [routerLink]="['protectoras']" routerLinkActive="activa">Protectoras</a>
            <a class="nav-link" [routerLink]="['login']" routerLinkActive="activa">Adoptantes</a>
            <a class="nav-link" [routerLink]="['identificar']" routerLinkActive="activa">Login</a>
        </div>
    </div>
</nav>