@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&display=swap');
/* font-family: 'Neucha', cursive;
font-family: 'Hind Madurai', sans-serif; */


.wrapper{
    margin: 2% 10%;
}

.container{
    margin: 5em 0;
}

.welcome h2{
    text-align: center;
    margin: 2% 0;
}
.welcome p{
    line-height: 2em;
    text-align: center;
}

.tj{
    margin: 2rem;
    max-width: 100%;
}

.card-img{
    opacity: 1;
    transition: all 0.5s linear;
}


.card-img-overlay{
    opacity: 0;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    
}
.card-img-overlay p, .card-img-overlay h5, .card-img-overlay button{
    text-align: center;
    margin-bottom: 3px;
    
}
button{
    border: none;
    font-weight: bold;
}




.tj:hover .card-img{
    opacity: 0.3;
}
.tj:hover .card-img-overlay{
    opacity: 1;
}

span{
    font-weight: bold;
    /* aquí en vez de bold tendremos que poner la tipografía negrita cuando elijamos una y la importemos de google fonts */
}
.tarjetas_protectoras{
    justify-content: center;
}

.formulario{
    background-color: rgb(208, 211, 212);
    padding: 10px;
    border-radius:10px;
    margin:15px 0;     
    
}

.formulario h2{
    text-align: center;
    margin-bottom: 15px;
       
}

/* INICIO ESTILOS LOCALIZACION_MAPA */

.detalle_protectoras:hover{
    /* -webkit-transform:scale(1.1); */
    transform:scale(1.2); 
    cursor:pointer;

}

.detalle_protectoras{
    overflow:hidden;
}


.card-body{
    line-height: 1.1em;
    font-family: 'Neucha', cursive;
    
    
}

.card-title{
    font-weight: bold;
}

.localizacion_protectoras{
    margin: 2%;
}


.lista_protectoras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
} 


/* Tarjetas logo protectoras */

@media(min-width:1000px){
    .tj{
        margin: 2rem 1rem;
        max-width: 45%;
    }  
    
    
}



@media(max-width:600px){
    .card-img-overlay p, .card-img-overlay h5, .card-img-overlay button{
        font-size: 0.9rem;
    }
    
    
    
}

