<div class="wrapper">
    <div class="welcome">
        <h2>CONOCE A NUESTRAS PROTECTORAS COLABORADORAS</h2>
        <p>Las protectoras que colaboran con nosotros se esfuerzan cada día por dar, de forma totalmente altruista, la
            mejor acogida a los animales que llegan a ellas abandonados, maltratados y descuidados. Necesitan tu
            ayuda <span>adoptando un animal o haciéndote voluntario</span> para poder seguir realizando una labor tan
            esencial como es el control y el cuidado de los
            animales. <span>En esta sección podrás saber más</span> sobre la labor de cada asociación.</p>
        <p>Recuerda que todas las protectoras entregan a sus animales en acogida o adopción desparasitados, con
            microchip y castrados (o con compromiso de castración), y lo hacen solo después de que te hayan evaluado
            como adoptante apto
            para el perro. No esperes y <span>acude a nuestro formulario de registro</span> para que las protectoras
            puedan conocerte y ayudarte a encontrar a tu próximo mejor amigo peludo.
        </p>
    </div>


</div>


<div class="row localizacion_protectoras">

    <div class="col-md-3 col-12 d-md-block d-none lista_protectoras">

        <div class="card mb-3 detalle_protectoras " *ngFor="let protectora of protectoras | slice:0:3"
            [ngClass]="{'marron_zoom': true}">
            <div class="row no-gutters">
                <div class="logo_protectora col-md-4">
                    <img src={{protectora.imagen}} class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{protectora.nombre}}</h5>
                        <p class="card-text">{{protectora.direccion}}</p>
                        <p class="card-text"><small>{{protectora.localidad}}</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6 col-12">
        <app-map></app-map>
    </div>
    <div class="col-md-3 col-12 d-md-block d-none lista_protectoras">
        <div class="card mb-3 detalle_protectoras" *ngFor="let protectora of protectoras | slice:3:6"
            [ngClass]="{'marron_zoom': true}">
            <div class="row no-gutters">
                <div class="logo_protectora col-md-4">
                    <img src={{protectora.imagen}} class="card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{protectora.nombre}}</h5>
                        <p class="card-text">{{protectora.direccion}}</p>
                        <p class="card-text"><small>{{protectora.localidad}}</small></p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="jumbotron ">
    <div class="titulo">
        <h2>TRABAJA CON NOSOTROS</h2>
        <p class="lead">Necesitamos tu ayuda</p>
    </div>


</div>


<div class="formulario">
    <h2>INSCRIPCIÓN PARA PROTECTORAS</h2>
    <div class="componente">
        <app-login-protectora></app-login-protectora>
    </div>
</div>