<div class="wrapper">
    <div class="container welcome">
        <h2>CONOCE A NUESTRAS PROTECTORAS COLABORADORAS</h2>
        <p>Las protectoras que colaboran con nosotros se esfuerzan cada día por dar, de forma totalmente altruista, la
            mejor acogida a los animales que llegan a ellas abandonados, maltratados y descuidados. Necesitan tu
            ayuda <span>adoptando un animal o haciéndote voluntario</span> para poder seguir realizando una labor tan
            esencial como es el control y el cuidado de los
            animales. <span>En esta sección podrás saber más</span> sobre la labor de cada asociación.</p>
        <p>Recuerda que todas las protectoras entregan a sus animales en acogida o adopción desparasitados, con
            microchip y castrados (o con compromiso de castración), y lo hacen solo después de que te hayan evaluado
            como adoptante apto
            para el perro. No esperes y <span>acude a nuestro formulario de registro</span> para que las protectoras
            puedan conocerte y ayudarte a encontrar a tu próximo mejor amigo peludo.
        </p>
    </div>

    <div class="row tarjetas_protectoras">

        <div class="card">
            <img src="https://dialogosdeactualidad.files.wordpress.com/2014/05/acunr-2.jpg" class="card-img" alt="logo">
            <div class="card-img-overlay">
                <h5 class="card-title">ACUNR-Animales con un nuevo rumbo</h5>
                <p class="card-text">Contáctanos en el 666777888 o a través de acunr@mail.com</p>

                <button type="button" class="btn btn-outline-dark">Saber más <i
                        class="fas fa-arrow-alt-circle-right"></i></button>

                <p class="card-text">Direccion: direccion Provincia Localidad</p>

                <p class="card-text"><span>¡Necesitamos voluntarios!</span></p>
                <button type="button" class="btn btn-outline-dark">Quiero ser voluntario <i
                        class="fas fa-arrow-alt-circle-right"></i></button>


            </div>
        </div>
        <div class="card">
            <img src="https://dialogosdeactualidad.files.wordpress.com/2014/05/acunr-2.jpg" class="card-img" alt="logo">
            <div class="card-img-overlay">
                <h5 class="card-title">ACUNR-Animales con un nuevo rumbo</h5>
                <p class="card-text">Contáctanos en el 666777888 o a través de acunr@mail.com</p>

                <button type="button" class="btn btn-outline-dark">Saber más <i
                        class="fas fa-arrow-alt-circle-right"></i></button>

                <p class="card-text">Direccion: direccion Provincia Localidad</p>

                <p class="card-text"><span>¡Necesitamos voluntarios!</span></p>
                <button type="button" class="btn btn-outline-dark">Quiero ser voluntario <i
                        class="fas fa-arrow-alt-circle-right"></i></button>

            </div>
        </div>


    </div>
    <div class="container formulario">
        <h2>FORMULARIO DE INSCRIPCIÓN</h2>
        <div class="componente">
            <app-login-protectora></app-login-protectora>
        </div>
    </div>
    <div class="container mapa">
        <h2>LOCALIZANOS</h2>

        <div class="row">
            <app-map></app-map>
        </div>

    </div>

</div>