<div class="wrapper">
    <div class="container buscador">
        <h2>¡QUIEN BUSCA, ENCUENTRA!</h2>

        <p>Haznos saber lo que buscas.</p>

        <p>Selecciona la edad:</p>
        <div class="row opciones">
            <a class="btn btn-lg opcion" role="button">Cachorro</a>
            <a class="btn btn-lg opcion" role="button">Adulto</a>


        </div>


        <p>Selecciona el tamaño:</p>
        <div class="row opciones">
            <a class="btn btn-lg opcion" role="button">Pequeño</a>
            <a class="btn btn-lg opcion" role="button">Mediano</a>
            <a class="btn btn-lg opcion" role="button">Grande</a>


        </div>

    </div>
    <h3>Hay X resultados para tu búsqueda</h3>
    <div class="perros">
        <div class="row tarjetas_perros">
            <div class="card perro">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2019/11/19/5dd46f53c97eb.jpeg"
                    class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">PONGO - Labrador macho, 5 años</h5>
                    <p class="card-text">Protectora: ACUNR</p>
                    <p class="card-text">Madrid.</p>

                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>

            <div class="card perro">
                <img src="https://i.ytimg.com/vi/J7IwP7TGhBU/maxresdefault.jpg" class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">CHINCHO - Pastor alemán macho, 2 años</h5>
                    <p class="card-text">Protectora: ANAA</p>
                    <p class="card-text">Madrid.</p>

                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>

            <div class="card perro">
                <img src="https://www.hola.com/imagenes/estar-bien/20191129155249/razas-de-perro-caniche/0-752-947/razas-perro-caniche-t.jpg"
                    class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">BONITA - Caniche hembra, 6 meses</h5>
                    <p class="card-text">Protectora: ACUNR</p>
                    <p class="card-text">Madrid.</p>

                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>

            <div class="card perro">
                <img src="https://www.elmundodelperro.net/fotos/91/3009_DSC_0217.jpg" class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">HELI - Galgo hembra, 3 años</h5>
                    <p class="card-text">Protectora: PPPeludos</p>
                    <p class="card-text">Madrid.</p>

                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>

            <div class="card perro">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2019/11/19/5dd46f53c97eb.jpeg"
                    class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">PONGO - Labrador macho, 5 años</h5>
                    <p class="card-text">Protectora: ACUNR</p>
                    <p class="card-text">Madrid.</p>



                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>

            <div class="card perro">
                <img src="https://www.elcomercio.com/files/article_main/uploads/2019/11/19/5dd46f53c97eb.jpeg"
                    class="card-img" alt="logo">
                <div class="card-img-overlay">
                    <h5 class="card-title">PONGO - Labrador macho, 5 años</h5>
                    <p class="card-text">Protectora: ACUNR</p>
                    <p class="card-text">Madrid.</p>



                    <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                            class="fas fa-star"></i></button>
                </div>

            </div>




        </div>






    </div>