<div class="wrapper">
    <div class="container buscador">
        <h2>¡QUIEN BUSCA, ENCUENTRA!</h2>

        <p><span>Haznos saber lo que buscas.</span></p>

        <p>Selecciona la edad:</p>
        <div class="row opciones">
            <button class="btn opcion" value="cachorro" [ngClass]="{seleccionado:(filtroEdad=='cachorro')}"
                (click)="onClickEdad('cachorro')">Cachorro</button>
            <button class="btn opcion" value="adulto" [ngClass]="{seleccionado:(filtroEdad=='adulto')}"
                (click)="onClickEdad('adulto')">Adulto</button>
        </div>



        <p>Selecciona el tamaño:</p>
        <div class="row opciones">
            <button class="btn opcion" value="pequeno" [ngClass]="{seleccionado:(filtroTamano=='pequeno')}"
                (click)="onClickVerify()">Pequeño</button>
            <!-- (click)="onClickTamano('pequeno') -->

            <button class="btn opcion" value="mediano" [ngClass]="{seleccionado:(filtroTamano=='mediano')}"
                (click)="onClickTamano('mediano')">Mediano</button>
            <button class="btn opcion" value="grande" [ngClass]="{seleccionado:(filtroTamano=='grande')}"
                (click)="onClickTamano('grande')">Grande</button>


        </div>

    </div>
</div>

<div class="perros">

    <div class="row tarjetas_perros">


        <div class="card perro" *ngFor="let perro of perros">
            <!-- como sacar la imagen:problema  -->
            <img src="https://www.animaleshoy.com/imagenes/Curiosidades-sobre-los-perros.jpg" class="card-img">
            <div class="card-img-overlay">
                <h5 class="card-title">{{perro.nombre_perro}} - {{perro.raza}} {{perro.sexo}}, {{perro.edad_numero}}
                    años</h5>
                <p class="card-text">Protectora: {{perro.nombre}}</p>
                <p class="card-text">{{perro.localidad}}, {{perro.provincia}}</p>

                <button type="button" class="btn btn-outline-dark">Añadir a favoritos <i
                        class="fas fa-star"></i></button>
            </div>

        </div>






    </div>






</div>