.buscador{
    padding: 3% 0;
    text-align: center;
}
.buscador h2{
    margin-bottom: 5%;
}

.opciones{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.opcion{
    font-family: var(--fuente_titulos);
    font-size: 2em;
    color:var(--color_marron);
    border-radius: 0%;
    border:3px solid lightgray;
    max-width: 100%;
    margin: 2% 5%;
}


.opcion:hover{
    border-color: var(--color_marron);
}

.seleccionado{
    border-color: var(--color_marron);
}



/*INICIO ESTILOS DE LA CARD DE LOS PERROS*/

/*estilos de Mario*/
.contenedor {
    width: 370px;
    height: auto;
    position: relative;
    margin: 20px auto;
    border: 2px solid lightgray;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.imagen {
    width: 100%;
    height: 250px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contenedor .velo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top:15px;
    background-color: white;
    opacity: 0;
    transition: 1.5s;
}

.contenedor .imagen {
   
    transition: 1s;
}

.contenedor:hover .velo {
    opacity: 0.8;
}





/*fin estilos Mario*/

.tarjetas_perros{
    align-items: center;
    justify-content: space-evenly;
}
button{
    border-radius: 0%;
    border: none;
    font-weight: bold;
   
}
button:focus {
    outline: none;
    box-shadow: none;
}





/*FIN ESTILOS DE LA CARD DE LOS PERROS*/

@media(min-width:800px){
    .opciones{
        flex-direction: row;
        
    }
    .opcion{
        padding: 2% 5%;
    }
    .perros{
        padding: 1%;
    }
    
}

@media(min-width:1100px){
    .perros{
        padding: 0% 5%;
    }
    
}



