.buscador{
    padding: 3% 0;
    text-align: center;
}
.buscador h2{
    margin-bottom: 5%;
}

.opciones{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.opcion{
    font-family: var(--fuente_titulos);
    font-size: 2em;
    color:var(--color_marron);
    border-radius: 0%;
    border:3px solid lightgray;
    max-width: 100%;
    margin: 2% 5%;
}


.opcion:hover{
    border-color: var(--color_marron);
}

.seleccionado{
    border-color: var(--color_marron);
}



/*INICIO ESTILOS DE LA CARD DE LOS PERROS*/

.perros{
 
    padding: 0;
    margin-bottom: 5%;
}
.tarjetas_perros{
    align-items: center;
    justify-content: space-evenly;
}

.perro{
    margin: 5%;
    max-width: 80%;
    
}


.perro:hover .card-img{
    opacity: 0.3;
}
.perro:hover .card-img-overlay{
    opacity: 1;
}

.card-img{
    opacity: 1;
    transition: all 0.5s linear;
}



.card-img-overlay{
    opacity: 0;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card-img-overlay p, .card-img-overlay h5, .card-img-overlay button{
    text-align: center;
    
}

button{
    border-radius: 0%;
    border: none;
    font-weight: bold;
   
}
button:focus {
    outline: none;
    box-shadow: none;
}


/*FIN ESTILOS DE LA CARD DE LOS PERROS*/

@media(min-width:800px){
    .opciones{
       
        flex-direction: row;
        
    }
    .opcion{
        padding: 2% 5%;
    }
    .perros{
        padding: 1%;
    }
    .perro{
        margin: 1%;
        max-width: 45%;
    }
    


}

@media(min-width:1100px){
    .perros{
        padding: 0% 5%;
    }
    .perro{
        
        max-width: 30%;
    }
}



