.row{
    width: 100%;
    margin: 3% 0 3% 3%;
    
}

h2{
    font-family: var(--fuente_titulos);
    color:var(--color_marron);
    margin-bottom: 5%;
}

h5{
    font-family: var(--fuente_titulos);
    color:var(--color_marron);
    font-size: 2rem;
}



.contenedor:first-child{
    border-right:none;
    border-bottom: 3px solid lightgray;
    margin: 10% 0 5% 0;
}


button{
    margin:1% 0 3% 0;
    border-radius: 0%;
}

.contenedor-perro{
    margin-bottom: 10%;
    max-width: 90%;
    
}

.contenedor-perro .datos-perro{
    width: 100%;
    
}

.contenedor-perro .foto-perro{
    width: 100%;
    
}
.flex{
    display:flex;
    flex-direction: column;
}
.flex p{
    border-bottom: 1px solid lightgray;
}



@media(min-width:800px){
    .contenedor:first-child{
        border-bottom: none;
        border-right:3px solid lightgray;
        margin: 0;
    }
    
    .contenedor:nth-child(2){
        padding-left: 3%;
    }
    .flex{
        display:flex;
        flex-direction: row;
    }
    h5{
        margin-bottom: 15%;
    }

}
