<div class="container">
    <div class="row">
        <div class="contenedor col-md-4 col-12">
            <h2>Tus datos</h2>

            <p><span>Nombre: </span></p>
            <p><span>Email: </span></p>
            <p><span>Teléfono: </span></p>
            <p><span>Dirección: </span></p>
            <p><span>Localidad: </span></p>
            <p><span>Provincia: </span></p>
            <p><span>Latitud: </span></p>
            <p><span>Longitud: </span></p>
            <p><span>Necesidad de voluntarios: </span></p>
            <p><span>Descripción: </span></p>
            <p><span>Imagen: </span></p>

        </div>
        <div class="contenedor col-md-8 col-12">
            <h2>Adoptantes interesados</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre del perro</th>
                        <th>Adoptantes interesados</th>
                        <th>Nombre del interesado</th>
                        <th>Teléfono</th>
                        <th>Mail</th>
                        <th>Localidad</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Ale</td>
                        <td>5</td>
                        <td>Juan</td>
                        <td>555555555</td>
                        <td>juan@mail.com</td>
                        <td>Madrid</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>