.login{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin:3% 0 6.4% 0;
}
.login h2{
    margin-bottom:2%;
}
.formulario{
    width: 80%;
}
.definicion{
    text-align: center;
    font-weight: 700;
}
.formulario input{
    width: 100%;
    
}

.form-group p{
    font-size: 0.8em;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}



@media(min-width:800px){
    .formulario{
        width: 40%;
    }
    .formulario input{
        width: 100%;
    }

}