<div class="container-fluid">
    <h2>NUESTRO BLOG</h2>
    <div class="row">
        <section class="col-md-9 col-12 d-md-block noticias">
            <article class="noticia" *ngFor="let post of posts">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4 imagen">
                            <img src={{post.imagen}} class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{post.titulo}}</h4>
                                <p class="card-text">{{post.texto}}</p>
                                <p class="card-text"><small class="text-muted">{{post.fecha |date:"dd-MM-yyyy"}}</small>
                                </p>
                                <p class="card-text"><small class="text-muted">{{post.categoria | titlecase}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>


        </section>
        <div class="col-md-3 col-12 d-md-block busquedas">
            <div class="buscador">
                <h5>BUSCADOR</h5>
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Introduce una palabra ..."
                        (input)="searchWord($event)">

                </div>

            </div>
            <div class="container-fluid entradas_recientes">
                <h5>ENTRADAS RECIENTES</h5>
                <ul class="list-group list-group-flush">
                    <a *ngFor="let post of arrPostRecientes" [routerLink]="['/blog', post.id]">
                        <li class="list-group-item">{{post.titulo}}</li>
                    </a>

                </ul>
            </div>
            <div class="container-fluid categorias">
                <app-categorias></app-categorias>

            </div>
            <div class="container-fluid rrss">
                <h5>Síguenos en RRSS</h5>
                <div class="container">
                    <a href='#'>
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href='#'><i class="fab fa-facebook"></i></a>
                    <a href='#'><i class="fab fa-instagram"></i></a>
                    <a href='#'><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>