
h2{
    text-align: center;
    font-size: var(--size_titulo);
    font-family: var(--fuente_titulos);
    color: var(--color_marron);
    padding: 2%;
}



/*Estilos de las noticias*/

.noticias{  
    padding: 1.5% 1.5% 1.5% 1%; 
}

.noticias .noticia h4{
 font-family: var(--fuente_textos);
 font-weight: 700;
 cursor: pointer;
 

}
.noticias .noticia h4:hover{
    text-decoration: underline;
}

.noticias .noticia .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.noticias .noticia img{
    cursor: pointer;
    width: 100%;
    height: auto;
    
}
.card-body p{
    margin:0;
}

.noticias .anterior, .siguiente{
    padding: 0 5%;
      
}
.noticias .noticia p{
    font-family: var(--fuente_textos);

}

/* Estilos de busquedas: botón */
.busquedas{
    padding: 1.5% 0;  
    height: auto;
    
}
.buscador{
    padding: 0px 10px 50px 10px;
    text-align: center;
    
}

.buscador h5{
    color: var(--color_marron);
    font-size: 2rem;
    font-family: var(--fuente_titulos);
    margin-bottom: 20px;
    font-weight: 600;
}



.busquedas .buscador .input-group button{
    border-radius: 0%;
    font-family: var(--fuente_textos);
    font-weight: 600;
    margin-right: 10px;
}
.busquedas .buscador .input-group input{
    border-radius: 0%;
}






/* Estilos del menú entradas recientes  */
.entradas_recientes{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2% 0;
}

.entradas_recientes h5{
    font-family: var(--fuente_titulos);
    color: var(--color_marron);
    font-size: 2rem;
    font-weight: 600;
}

.entradas_recientes ul li{
    font-family: var(--fuente_titulos);
    font-size: var(--size_texto);
    text-align: center;
    cursor: pointer;
    border:none;
    border-bottom: 1px solid lightgray;
}

.entradas_recientes ul li:hover{
    font-weight: 700;
}







/* Estilos del menú categorías  */
/* .categorias{
    text-align: center;    
    width: 100%;
    height: 420px;
    margin: 15% 0;
    padding: 2% 0;
    
}

.categorias h5{
    color:var(--color_marron);
    font-weight: 600;
    font-size: 2rem;
    font-family: var(--fuente_titulos);
    margin-bottom: 10px;
    
}

.categorias ul li{
    font-family: var(--fuente_titulos);
    font-size: var(--size_texto);
    border:none;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    
}


.categorias ul li:hover{
    font-weight: 700;
    cursor: pointer;
} */

/* Estilos de rrss  */
.rrss{
    color: var(--color_marron);
    font-weight: 600;
    text-align: center;
    
    width: 100%;
    height: auto;
    margin:10px 0;
}

.rrss h5{
    font-family: var(--fuente_titulos);
    color:inherit;
    font-size: 2rem;
    margin-bottom: 5%;
}

.rrss a{
    margin: 0 10px; 
    
}
.rrss a i{
    font-size: 1.5rem;
}







