<div class="container-fluid">
    <h2>NUESTRO BLOG</h2>
    <div class="row">
        <section class="col-md-9 col-12 d-md-block noticias">
            <article class="noticia" *ngFor="let post of posts">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4 imagen">
                            <img src={{post.imagen}} class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">{{post.titulo}}</h4>
                                <p class="card-text">{{post.texto}}</p>
                                <p class="card-text"><small class="text-muted">{{post.fecha}}</small></p>
                                <p class="card-text"><small class="text-muted">{{post.categoria}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <button type="button" class="btn btn-secondary btn-sm anterior"><i
                    class="fas fa-angle-double-left"></i></button>
            <button type="button" class="btn btn-secondary btn-sm float-right siguiente"><i
                    class="fas fa-angle-double-right"></i></button>
        </section>
        <div class="col-md-3 col-12 d-md-block busquedas">
            <div class="buscador">
                <h5>BUSCADOR</h5>
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
                    <input type="text" class="form-control" placeholder="Introduce una palabra ...">
                </div>

            </div>
            <div class="container-fluid post_recientes">
                <h5>ENTRADAS RECIENTES</h5>
                <ul class="list-group list-group-flush">
                    <a href="" *ngFor="let post of arrPostRecientes">
                        <li class="list-group-item">{{post.titulo}}</li>
                    </a>
                    <!-- <a>
                        <li class="list-group-item">Golpe de CALOR en el perro </li>
                    </a>
                    <a>
                        <li class="list-group-item">La importancia de la LLAMADA</li>
                    </a>
                    <a>
                        <li class="list-group-item">¿Tu perro se restriega sobre la hierba?</li>
                    </a>
                    <a>
                        <li class="list-group-item">SEGURIDAD en la calle</li>
                    </a> -->

                </ul>
            </div>
            <div class="container-fluid categorias">
                <h5>CATEGORIAS</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        (click)="onClickAllCategories()">

                        Todas las categorias
                        <span class="badge badge-warning badge-pill">14</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let categoria of arrCategorias" (click)="onClick(categoria)">
                        {{categoria}}
                        <span class="badge badge-warning badge-pill">14</span>
                    </li>

                </ul>
            </div>
            <div class="container-fluid rrss">
                <h5>Síguenos en RRSS</h5>
                <div class="container">
                    <a href='#'>
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a href='#'><i class="fab fa-facebook"></i></a>
                    <a href='#'><i class="fab fa-instagram"></i></a>
                    <a href='#'><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>