<div class="container-fluid categorias">
    <h5>CATEGORIAS</h5>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" (click)="onClickAllCategories()">

            Todas las categorias
            <span class="badge badge-warning badge-pill">???</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let categoria of arrCategorias" (click)="onClick(categoria)">
            {{categoria}}
            <span class="badge badge-warning badge-pill">???</span>
        </li>

    </ul>
</div>