<div class="jumbotron ">
    <div class="titulo">
        <h1>MATCHDOG</h1>
        <p class="lead">Adopta a tu mascota ideal</p>
    </div>


</div>
<div class="wrapper">
    <section class="container aboutus">
        <h2>EL PROYECTO MATCHDOG</h2>
        <p><span>Busca a tu perro ideal dondequiera que esté</span></p>
        <p>Tomar la decisión de adoptar un perro no es sencilla. Supone cambiar tu estilo de vida, incluir nuevos
            hábitos, aceptar responsabilidades, aprender a cuidarlo y a quererlo tal y como es. Pero la recompensa de su
            cariño y confianza infinitos son tan grandes que, al final, te decides a incluir a un nuevo miembro en la
            familia.</p>
        <p>Sin embargo, hacer el mismo proceso de presentar tu candidatura como adoptante en cada protectora resulta
            largo, repetitivo y agotador: manda fotos, envía tus datos, describe tu casa...
        </p>
        <p><span>MatchDog hace que el proceso de adopción sea mucho más sencillo. Crea tu perfil, sube fotos, selecciona
                los
                perros que más creas que encajen contigo, ¡y las protectoras podrán verte de inmediato!</span></p>

    </section>
</div>


<section class="infografia">
    <h2>¿CÓMO ADOPTAR EN MATCHDOG?</h2>
    <div class="row">
        <article>
            <h3><i class="far fa-edit"></i></h3>
            <p class="howto">1. Regístrate como adoptante, ¡Es gratis!</p>
        </article>
        <article>
            <h3><i class="fas fa-search"></i></h3>
            <p class="howto">2. Utiliza el buscador y encuentra perros disponibles para adopción.</p>

        </article>
        <article>
            <h3><i class="fas fa-tasks"></i></h3>
            <p class="howto">3. Añade tus animales favoritos a tu lista personal.</p>

        </article>
        <article>
            <h3><i class="far fa-comments"></i></h3>
            <p class="howto">4. Las protectoras a cargo de cada perro de tu lista contactarán
                contigo.</p>
        </article>
    </div>
    <p class="howto"><span>¡Y listo! MatchDog <i class="fas fa-dog"></i> es rápido, sencillo y eficaz.</span></p>
</section>

<div class="wrapper">
    <section>




    </section>

</div>