<div class="jumbotron ">
    <div class="titulo">
        <h1>MATCHDOG</h1>
        <p class="lead">Adopta a tu mascota ideal</p>
    </div>


</div>
<div class="wrapper">
    <section class="container aboutus">
        <h2>EL PROYECTO MATCHDOG</h2>
        <p><span>Busca a tu perro ideal dondequiera que esté</span></p>
        <p>Tomar la decisión de adoptar un perro no es sencilla. Supone cambiar tu estilo de vida, incluir nuevos
            hábitos, aceptar responsabilidades, aprender a cuidarlo y a quererlo tal y como es. Pero la recompensa de su
            cariño y confianza infinitos son tan grandes que, al final, te decides a incluir a un nuevo miembro en la
            familia.</p>
        <p>Sin embargo, hacer el mismo proceso de presentar tu candidatura como adoptante en cada protectora resulta
            largo, repetitivo y agotador: manda fotos, envía tus datos, describe tu casa...
        </p>
        <p><span>MatchDog hace que el proceso de adopción sea mucho más sencillo. Crea tu perfil, sube fotos, selecciona
                los
                perros que más creas que encajen contigo, ¡y las protectoras podrán verte de inmediato!</span></p>

    </section>


    <section class="infografia">
        <h2>¿CÓMO ADOPTAR?</h2>
        <div class="row">
            <article>
                <h3>Paso 1:</h3>
                <p>Regístrate como adoptante, ¡Es gratis!</p>
            </article>
            <article>
                <h3>Paso 2:</h3>
                <p>Utiliza el buscador y encuentra perros disponibles para adopción.</p>

            </article>
            <article>
                <h3>Paso 3:</h3>
                <p>Añade tus animales favoritos a tu lista personal.</p>

            </article>
            <article>
                <h3>Paso 4:</h3>
                <p>Las protectoras a cargo de cada perro de tu lista evaluarán tu perfil y contactarán contigo.</p>

            </article>
        </div>
        <p>¡YA ESTÁS LISTO PARA ADOPTAR!</p>
    </section>

    <section>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://alejita1197.files.wordpress.com/2014/02/adorable-pit-bull-puppy-8.jpg"
                                class="card-img" alt="imagen de un perro">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>
</div>